<!-- 🔝 Header -->
<!-- <ion-header class="ion-no-border"> -->
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-img src="assets/Logo_only.png" alt="Logo" class="logo-sm" ></ion-img>
      <ion-title class="fw-bold" size="small">Hi there!</ion-title>
    </ion-buttons> -->

   <!-- <ion-buttons slot="start" class="ion-padding-start">
  <ion-icon name="arrow-back-outline"></ion-icon>
</ion-buttons> -->

<!-- <ion-popover
  trigger="lang-trigger"
  triggerAction="click"
  side="bottom"
  alignment="end"
  show-backdrop="false">
  
  <ng-template>
    <ion-list>
      <ion-item lines="none">English</ion-item>
      <ion-item lines="none">Hindi</ion-item>
    </ion-list>
  </ng-template>
</ion-popover>

  </ion-toolbar> -->
 
<!-- </ion-header> -->

<!-- Form Card -->
<ion-content class="ion-padding-start ion-padding-end">
 <!-- 🌟 Logo and Title -->
   <ion-grid>
    <ion-row
      class="ion-justify-content-center"
    >
      <ion-col size="12">
        <ion-item lines="none">
           <ion-icon  class="ion-no-padding" slot="start" name="arrow-back-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-justify-content-center ion-text-center ion-padding-end">
        <ion-img
          [src]="crmLogo"
          alt="Logo"
          class="img-size ion-margin-bottom"
        ></ion-img>
        <h2>BigTaskCRM</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-item lines="none">
  <h3>Create Account</h3>
</ion-item>
<ion-text class="ion-padding-start" size="small">
Sign up to get start
</ion-text>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row
        class="ion-padding-end ion-padding-start ion-justify-content-center"
      >
        <ion-col size="12">
          <ion-item lines="none" class="border-box" (click)="toggleEstate()">
            <ion-label>{{userForm.get('realEstate')?.value || 'Industry'}}</ion-label>
              <ion-icon slot="start" name="cellular-outline"></ion-icon>
          </ion-item>
          <div *ngIf="showRealEstateDropdown" class="dropdown">
            <div (click)="selectEstate('Education')">Education</div>
            <div (click)="selectEstate('Insurance')">Insurance</div>
          </div>
          <ion-text color="danger" *ngIf="userForm.get('realEstate')?.touched">
            <p class="ion-padding-start">Real Estate is required</p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" class="border-box">
            <ion-input type="text" formControlName="name" placeholder="Name">
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="userForm.get('name')?.touched">
            <p class="ion-padding-start">Name is required</p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" class="border-box">
            <ion-input
              type="tel"
              formControlName="phone"
              placeholder="Phone Number"
              inputmode="numeric"
              maxlength="10"
            >
              <ion-icon slot="start" name="call-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid"
          >
            <p
              class="ion-padding-start"
              *ngIf="userForm.get('phone')?.errors?.['required']"
            >
              Phone number is required
            </p>
            <p
              class="ion-padding-start"
              *ngIf="userForm.get('phone')?.errors?.['pattern']"
            >
              Enter a valid 10-digit phone number
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" class="border-box">
            <ion-input
              type="email"
              formControlName="email"
              placeholder="Email Id"
            >
              <ion-icon slot="start" name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid"
          >
            <p
              class="ion-padding-start"
              *ngIf="userForm.get('email')?.errors?.['required']"
            >
              Email is required
            </p>
            <p
              class="ion-padding-start"
              *ngIf="userForm.get('email')?.errors?.['email']"
            >
              Enter a valid email address
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" class="border-box">
            <ion-input
              type="text"
              formControlName="address"
              placeholder="Address"
              class="form-control"
            >
              <ion-icon slot="start" name="location-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="userForm.get('address')?.touched">
            <p class="ion-padding-start">Address is required</p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <!-- <ion-icon name="flag-outline" class="select-icon"></ion-icon> -->
          <ion-item lines="none" class="border-box" (click)="toggleCountry()">
             <ion-icon slot="start" name="globe-outline"></ion-icon>
           <ion-label>{{userForm.get('country')?.value || 'Select Country'}}</ion-label>
          </ion-item>
          <div *ngIf="showCountryDropdown" class="dropdown">
            <div (click)="selectCountry('India')">India</div>
             <div (click)="selectCountry('US')">US</div>
          </div>
          <ion-text color="danger" *ngIf="userForm.get('country')?.touched">
            <p class="ion-padding-start">Country is required</p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" class="border-box" (click)="toggleState()">
             <ion-icon slot="start" name="flag-outline"></ion-icon>
            <ion-label>{{userForm.get('state')?.value || 'State'}}</ion-label>
          </ion-item>
          <div *ngIf="showStateDropdown" class="dropdown">
            <div (click)="selectState('CG')">CG</div>
            <div (click)="selectState('Bihar')">Bihar</div>
          </div>
          <ion-text color="danger" *ngIf="userForm.get('state')?.touched">
            <p class="ion-padding-start">State is required</p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" class="border-box" (click)="toggleCity()">
             <ion-icon slot="start" name="business-outline"></ion-icon>
            <ion-label>{{userForm.get('city')?.value ||'City'}}</ion-label>
          </ion-item>
          <div *ngIf="showCityDropdown" class="dropdown">
            <div (click)="selectCity('Chennai')">Chennai</div>
            <div (click)="selectCity('Mumbai')">Mumbai</div>
            <div (click)="selectCity('Pune')">Pune</div>
          </div>

          <!-- Validation -->
          <ion-text
            color="danger"
            *ngIf="userForm.get('city')?.touched && userForm.get('city')?.invalid"
          >
            <p class="ion-padding-start">City is required</p>
          </ion-text>
        </ion-col>
        <ion-col class="d-flex ion-align-items-center">
          <ion-checkbox></ion-checkbox>
          <ion-text class="ion-padding-start">I agree the <span color="primary">Terms & Conditions</span></ion-text>
        </ion-col>
         <ion-col size="12" expand="block">
          <ion-button
            expand="block"
            type="submit"
            [disabled]="userForm.invalid">
            Sign Up
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-footer class="ion-no-border">
    <p class="ion-text-center justify-content-center ">
      Already have an account? <span color="text-primary">Login</span>
    </p>
  </ion-footer>
</ion-content>
