.img-size {
  max-width: 40px;
  margin: 0 auto;
  text-align: center;
}
.ion-border {
   width: 100px;
  height: 100px;
  border-radius: 50%;
  background: aqua;
  --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; 
}
.ion-border ion-icon{
  font-size: 40px;
}
 
