.profile-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.profile-border {
  width: 120px;
  height: 120px;
  border: 3px solid var(--ion-color-primary);
}

.profile-button {
  position: absolute;
  bottom: 5px;
  right: calc(50% - 50px);
  transform: translateX(20px);
}

