<ion-header>
  <app-header header="Home"></app-header>
</ion-header>

<ion-content>
  <!-- <div *ngIf="isLoading | async">
    <app-loader></app-loader>
  </div> -->
  <form>
  <ion-card *ngFor="let item of assignedTaskDetails;let i = index">
    <ion-card-header class="d-flex justifiy-between  align-item-start">
      <ion-card-title class="ion-text-start d-flex align-item-center">
        <ion-icon name="ellipse"
          [color]="item.status=='in progress'?'warning':item.status=='open'?'light':item.status=='resolved'?'success':item.status=='customer pending'?'medium':'secondary'">
        </ion-icon> Task # {{item.taskid}}
      </ion-card-title>
      <ion-card-subtitle class="ion-text-end">Status:{{item.status}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="calendar-outline"></ion-icon> Date: <span>{{item.createdon | date:'mediumDate'}}</span>
      </p>
      <p>
        <ion-icon name="person-outline"></ion-icon> Customer Name: <span>{{item.customername}}</span>
      </p>
      <p>
        <ion-icon name="location-outline"></ion-icon> Location: <span>{{item.location}}</span>
      </p>
      <p>
        <ion-icon name="call-outline"></ion-icon> Phone Number: <span>{{item.phone}}</span>
      </p>

      <p>
        <ion-icon name="cog-outline"></ion-icon> Engineer : <span>{{item.fullname}}</span>
      </p>
      <p>
        <ion-icon name="aperture-outline"></ion-icon> Service Type : <span>{{item.servicetype}}</span>
      </p>
      <p>
        <ion-icon name="tv-outline"></ion-icon> Product Type : <span>{{item.producttype}}</span>
      </p>
    </ion-card-content>
    <ion-footer class="no-shadow">
      <ion-row no-padding>
        <ion-col center text-center class="ion-padding-start  ion-padding-bottom">
          <ion-button expand="block" color="primary" (click)="onClickSubmitStatus(item)">Submit Status</ion-button>
        </ion-col>
        <ion-col center text-center class="ion-padding-end ion-padding-bottom">
          <ion-button expand="block" fill="outline" (click)="onClickDisplayStatus(item)">View Status</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
  <p class="error" *ngIf="assignedTaskDetails.length === 0">No task to be assigned.</p>
</form>
</ion-content>