<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-button (click)="onClickLogout()" slot="end" fill="clear" color="tertiary">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of assignedTaskDetails;let i = index">
    <ion-card-header>
      Task # {{item.taskid}}
    </ion-card-header>
    <ion-card-content>
      <p>Date : <span>{{item.createdon | date:'mediumDate'}}</span></p>
      <p>Customer Name : <span>{{item.customername}}</span></p>
      <p>Location : <span>{{item.location}}</span></p>
      <p>Phone Number : <span>{{item.phone}}</span></p>
      <p>Status : <span>{{item.status}} Test</span></p>
      <p>Engineer : <span>{{item.fullname}}</span></p>
    </ion-card-content>
    <ion-footer>
      <ion-row no-padding>
        <ion-col center text-center>
          <ion-button expand="block" fill="outline" (click)="onClickSubmitStatus(item)">Submit Status</ion-button>
        </ion-col>
        <ion-col center text-center>
          <ion-button expand="block" fill="outline" (click)="onClickDisplayStatus(item)">Dispaly Status</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
  <p class="error" *ngIf="assignedTaskDetails.length === 0">No task to be assigned.</p>

</ion-content>