form {
    padding-top:0;
}

ion-content {
    --ion-background-color: #fff;
}



ion-grid {
    margin-top:40px;
}

.img-size{     max-width: 100px;margin: 0 auto; text-align: center;}
.img-size2{ max-width: 20px;margin: 0 auto; text-align: center;}

.my-menu{
    --width: 500px;
}