<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
    <ion-button slot="end" fill="clear" color="dark"></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="addloginDetail" (ngSubmit)="onSignin()">
    <ion-grid>
      <ion-grid>
        <ion-row class="ion-padding-start ion-padding-end ion-justify-content-center">
          <ion-col size="12">
            <ion-input type="text" formControlName="username" placeholder="Username"> 
              <ion-icon name="person-circle-outline"></ion-icon>
            </ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input type="Password" formControlName="password" placeholder="Password">
              <ion-icon name="key-outline"></ion-icon>
            </ion-input>
          </ion-col>
          <ion-col size="12" class="ion-margin-bottom">
            <ion-input type="text" formControlName="clientcode" placeholder="Client Code">
              <ion-icon name="people-outline"></ion-icon>
            </ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-button type="submit" expand="block" [disabled]="addloginDetail.invalid" color="primary">Sign in
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </form>
</ion-content>