    <ion-toolbar color="primary" class="shadow-sm rounded-bottom">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-between">
          <ion-col size="auto">
            <div class="d-flex ion-align-items-center ion-justify-content-start">
                <!-- <ion-img src="assets/Logo_only.png" alt="Logo" class="logo-sm" > -->
              <ion-title size="small" class="m-0 fw-bold" (click)="user()">
                Hi Chittaranjan!
              </ion-title>
            </div>
          </ion-col>
          
          <ion-col size="auto">
            <ion-buttons >
                <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
 
  <!-- 🧾 Form Section -->
   <ion-content class="ion-padding">

<ion-item lines="none">
  <h4>Lead Information</h4>
</ion-item>
<ion-segment [(ngModel)]="selectedSegment" value="personal">
  <ion-segment-button value="personal">
    <ion-label>Personal</ion-label>
  </ion-segment-button>
  <ion-segment-button value="requirement" content-id="requirement">
    <ion-label>Requirement</ion-label>
  </ion-segment-button>
</ion-segment>

    <form [formGroup]="leadForm">
      <!-- 🧍 Basic Info -->
       <div [ngSwitch]="selectedSegment">
        <div *ngSwitchCase="'personal'">
         <ion-card class="ion-margin-bottom" style="background-color: #faf5e7;">
        <ion-card-content>
          <ng-container *ngFor="let field of basicFields">
          <ion-item lines="none" class="ion-margin-top">
            <ion-icon slot="start" [name]="field.icon">
            </ion-icon>
          <ion-input
            type="text"
            [placeholder]="field.label"
            formControlName="{{ field.name }}"
            class="ion-text-start"
          ></ion-input>
          </ion-item>
         <ion-text color="danger" class="ion-padding ion-margin-top"
    *ngIf="leadForm.get(field.name)?.invalid
            && (leadForm.get(field.name)?.touched
            || leadForm.get(field.name)?.dirty)">
            <small *ngIf="leadForm.get(field.name)?.errors?.['required']">
                {{ field.label }} is required
            </small>

   <small *ngIf="leadForm.get('contactNumber')?.errors?.['pattern']">
    Enter valid 10-digit mobile number
   </small>

   <small *ngIf="leadForm.get('emailId')?.errors?.['pattern']">
    Enter valid email address
   </small>
  </ion-text>
</ng-container>
  <!-- 📝 Remarks -->
      <ion-item lines="none">
        <span><ion-icon name="bookmark-outline"></ion-icon></span>
        <ion-textarea
          type="text"
          placeholder="Remarks"
          formControlName="remarks"
        ></ion-textarea>
        <span><ion-icon name="mic-outline"></ion-icon></span>
      </ion-item>
        </ion-card-content>
      </ion-card>
      
        </div>
     

      <!-- 🏠 Property Info -->
       <div *ngSwitchCase="'requirement'">
        <ion-card class="ion-margin-bottom" style="background-color: #faf5e7;">
        <ion-card-content>
          <ion-item lines="none" class="ion-margin-bottom" *ngFor="let field of propertyFields">
            <ion-icon slot="start" [name]="field.icon"></ion-icon>
          <ion-input
            type="text"
            class="form-control"
            [placeholder]="field.label"
            formControlName="{{ field.name }}"
             class="ion-text-start"
          ></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
       </div>
</div>
      <!-- 🔘 Buttons -->
      <ion-item  lines="none" class="d-flex gap-3 mt-3">
        <ion-button type="submit" [disabled]="leadForm.invalid" >Submit</ion-button>
        <ion-button type="button">Reset</ion-button>
      </ion-item>
    </form>
</ion-content>
