<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>  Submit status of Task {{taskDetails.taskid}}</ion-title>
   <ion-icon slot="end" class="ion-padding" (click)="dismiss()" name="close-outline"></ion-icon>
   </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="addStatusDetail">
    <ion-card class="no-shadow">
      <ion-card-header class="d-flex justifiy-between  align-item-start">
        <ion-card-title class="ion-text-start d-flex align-item-center"><ion-icon
           name="ellipse"  [color]="taskDetails.status=='in progress'?'warning':taskDetails.status=='open'?'light':taskDetails.status=='resolved'?'success':taskDetails.status=='customer pending'?'medium':'secondary'"></ion-icon> Task # {{taskDetails.taskid}} </ion-card-title>
      
        </ion-card-header>
    
      <ion-card-content>
        <p><ion-icon name="calendar-outline"></ion-icon> Date : <span>{{taskDetails.createdon | date:'mediumDate'}}</span></p>
        <p><ion-icon name="person-outline"></ion-icon> Customer Name : <span>{{taskDetails.customername}}</span></p>
        <p><ion-icon name="location-outline"> </ion-icon>Location : <span>{{taskDetails.location}}</span></p>
        <p><ion-icon name="cog-outline"></ion-icon> Engineer : <span>{{taskDetails.fullname}}</span></p>
        <p><ion-icon
          name="ellipse"  [color]="taskDetails.status=='in progress'?'warning':taskDetails.status=='open'?'light':taskDetails.status=='resolved'?'success':taskDetails.status=='customer pending'?'medium':'secondary'"></ion-icon> Current Status : <span>{{taskDetails.status}}</span></p>

        <ion-item>
          <ion-label>Status</ion-label>
          <ion-select formControlName="status">
            <ion-select-option *ngFor="let iem of status" [value]="iem.value">{{iem.key}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Remark</ion-label>
          <ion-textarea formControlName="remark"></ion-textarea>
        </ion-item>

      </ion-card-content>
      <ion-row no-padding>
        <ion-col center text-center>
          <ion-button expand="block" [disabled]="addStatusDetail.invalid" (click)="onSubmitTaskStatus()" fill="outline">
            Submit</ion-button>
        </ion-col>
        <ion-col center text-center>
          <ion-button expand="block" (click)="dismiss()" fill="outline">Back</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>
</ion-content>