p{
    font-size: medium; 
   }
   p {
    font-size: medium;
  }
  
   span{
     color: #3880ff;
   }
   
   ion-item {
    margin-left: 0px;
    margin-top: 10px;
  }
  
  ion-select {
    max-width: 80% !important;
  }

  form {
    padding-top: 25px;
  }