<ion-header>
  <app-header header="Users Detail"></app-header>
</ion-header>

<ion-content>
  <!-- <div *ngIf="isLoading | async">
    <app-loader></app-loader>
  </div> -->
  <ion-card *ngIf="accountService.USER_TYPE !=='user'">
    <ion-button expand="block" (click)="onClickOpenModal(false)" fill="outline">New User</ion-button>
  </ion-card>
  <ion-card *ngFor="let item of users;let i = index">
    <ion-card-header>
      <ion-card-title class="ion-text-start d-flex align-item-center">User # {{item.userid}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>
            <ion-icon name="person-outline"></ion-icon> Name : <span>{{item.fullname}}</span>
          </p>
          <p>
            <ion-icon name="person-outline"></ion-icon> User Name : <span>{{item.username}}</span>
          </p>
          <p>
            <ion-icon name="ellipse" color="success"></ion-icon> Enable : <span>{{item.enabled}}</span>
          </p>
          <p>
            <ion-icon name="call-outline"></ion-icon>Phone : <span>{{item.phone}}</span>
          </p>
          <p>
            <ion-icon name="mail-outline"></ion-icon> Email : <span>{{item.email}}</span>
          </p>
        </ion-col>
        <ion-col>
          <img class="rounded-circle" src={{item.photo}}>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-footer class="no-shadow">
      <ion-button class="primary" fill="clear" color="dark" (click)="onClickOpenModal(true,item)">
        <ion-icon slot="icon-only" class="color-white" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="item?.isUser" class="primary" fill="clear" color="dark"
        (click)="onClickOpenChangePassword(item)">
        <ion-icon slot="icon-only" class="color-white" name="construct-outline"></ion-icon>
      </ion-button>
    </ion-footer>
  </ion-card>
</ion-content>